### Functions in Python

* Why Functions
* Function Definitions

* Positional and Keyword Arguments in Functions

In [1]:
num = 24
if num%2 == 0:
    print("The number is even")
    
else:
    print("The number is odd")

The number is even

In [2]:
def even_odd(num):
    if num%2 == 0:
        print("The number is even")
    
    else:
        print("The number is odd")

In [3]:
even_odd(21)

The number is odd

In [4]:
even_odd(24)

The number is even

## Print vs return

In [5]:

def hello_world():
    print("Hello Welcome")

In [6]:
var = hello_world()

Hello Welcome

In [7]:
print(var)

None

# return function

In [8]:
def hello_world():
    return "Hello Welcome"

In [9]:
var = hello_world()

In [10]:
print(var)

Hello Welcome

In [11]:
def add_number(num1, num2):
    return num1+num2

In [12]:
val = add_number(24,40)

In [13]:
val

64

In [14]:
#positional argument 
#keyword argument

In [15]:
def hello(name,age=25):
    print("My name is {} and age is {}".format(name,age))

In [16]:
hello('Machine')

My name is Machine and age is 25

In [17]:
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [18]:
hello("Sabita", "Rajbanshi",age=25, dob=1994)

('Sabita', 'Rajbanshi')
{'age': 25, 'dob': 1994}

In [19]:
lst = ['Sabita', 'Rajbanshi']
dict_args = {'age':25, 'dob':1994}

In [20]:
hello(*lst, **dict_args)

('Sabita', 'Rajbanshi')
{'age': 25, 'dob': 1994}

In [21]:
lst=[1,2,3,4,5,6,7]

In [22]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2 == 0:
            even_sum = even_sum+i
        else:
            odd_sum = odd_sum+i
    return even_sum, odd_sum

In [23]:
evenoddsum(lst)

(12, 16)

## Lambda function
anonymouse function
A function with no name

In [24]:
def addition(a,b):
    return a+b

In [25]:
addition(4,5)

9

## Using lambda keyword to convert into lambda function

In [26]:
addition = lambda a,b:a+b
addition(12,14)

26

In [27]:
def even(num):
    if num%2 == 0:
        return True

In [28]:
even(6)

True

In [29]:
even = lambda num:num%2==0
even(12)

True

In [30]:
def addition(x,y,z):
    return x+y+z

In [31]:
addition(2,3,4)

9

In [32]:
addition = lambda x,y,z:x+y+z

In [33]:
addition(2,3,4)

9

## Map Function in Python
map function is used for applying same function for multiple numbers

In [34]:
def even_or_odd(num):
    if num%2 == 0:
        return "The number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [35]:
even_or_odd(24)

'The number 24 is Even'

In [36]:
lst = [1,2,3,4,5,6,7,8,9,24,56,78]

In [37]:
list(map(even_or_odd,lst))

['The number 1 is Odd',
 'The number 2 is Even',
 'The number 3 is Odd',
 'The number 4 is Even',
 'The number 5 is Odd',
 'The number 6 is Even',
 'The number 7 is Odd',
 'The number 8 is Even',
 'The number 9 is Odd',
 'The number 24 is Even',
 'The number 56 is Even',
 'The number 78 is Even']

## Filter Function in Python
make this whole list elements pass through this function

In [38]:
def even(i):
    if i%2==0:
        return True

In [39]:
lst = [1,2,3,4,5,6,7,8,9,0]

In [40]:
list(filter(even,lst))

[2, 4, 6, 8, 0]

In [41]:
list(filter(lambda i:i%2==0,lst))

[2, 4, 6, 8, 0]

In [42]:
list(map(lambda i:i%2==0, lst))

[False, True, False, True, False, True, False, True, False, True]

## List comprehension
list comprehension provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause,then zero or more for or if clauses. THe expressions can be anything, meaning you can put in all kinds of objects in lists.

In [43]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [44]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [45]:
lst=[1,2,3,4,5,6,7]

In [46]:
lst1=[i*i for i in lst]

In [47]:
print(lst1)

[1, 4, 9, 16, 25, 36, 49]

In [48]:
lst2=[i*i for i in lst if i%2==0]

In [49]:
print(lst2)

[4, 16, 36]

In [50]:
lst2=[i*i for i in lst if i%2!=0]

In [51]:
lst2

[1, 9, 25, 49]

## String Formatting in Python

In [52]:
print("Hello Everyone")

Hello Everyone

In [53]:
def greeting(name):
    return "Hello {}. welcome to the family".format(name)

In [54]:
greeting("Bhawana")

'Hello Bhawana. welcome to the family'

In [55]:
def welcome_email(name, age):
    return "Welcome {}. Your age is {}".format(name,age)

In [56]:
welcome_email('Sabita',25)

'Welcome Sabita. Your age is 25'

In [57]:
def welcome_email(name, age):
    return "Welcome {Name}. Your age is {age}".format(age=age,Name=name)

In [58]:
welcome_email('Sabita', 25)

'Welcome Sabita. Your age is 25'

## Python List iterables vs iterators

In [59]:
# List is Iterable
lst = [1,2,3,4,5,6,7]

for i in lst:
    print(i)

1
2
3
4
5
6
7

In [60]:
lst1=iter(lst)

In [61]:
lst1

In [62]:
next(lst1)

1

In [63]:
next(lst1)

2

In [64]:
for i in lst1:
    print(i)

3
4
5
6
7