In [1]:
# no duplicate element in set
set_var = {1,2,3,4,5,3}

In [2]:
set_var

{1, 2, 3, 4, 5}

In [3]:
set_var={"avengers","ironman","hitman"}
print(set_var)
type(set_var)

{'avengers', 'ironman', 'hitman'}

set

In [4]:
# Inbuilt function in sets
set_var.add("Hulk")
print(set_var)

{'Hulk', 'avengers', 'ironman', 'hitman'}

In [5]:
set1={"avengers","ironman","hitman"}
set2={"avengers","ironman","hitman","hulk2"}

In [6]:
# Difference
set2.difference(set1)

{'hulk2'}

In [7]:
set2.intersection_update(set1)

In [8]:
set2

{'avengers', 'hitman', 'ironman'}

In [9]:
set1.intersection(set2)

{'avengers', 'hitman', 'ironman'}

In [10]:
# Difference update(removing all the elements that are present in set1)
set2.difference_update(set1)

In [11]:
print(set2)

set()

In [12]:
# Dictionaries
# a dictionary is a collection which is unordered, changeable and indexed.In python dictionaries are written with curly brackets and they have keys and values.

In [13]:
dic={}

In [14]:
type(dic)

dict

In [15]:
dic={1,2,3,4,5}
type(dic)

set

In [16]:
#Let create a dictionary

my_dict={"car1":"Audi", "car2":"BMW", "car3":"mercidies Benz"}

In [17]:
type(my_dict)

dict

In [18]:
#Access the item values based on keys

my_dict['car1']

'Audi'

In [19]:
#We can even loop through the dictionaries keys

for x in my_dict:
    print(x)

car1
car2
car3

In [20]:
#We can even loop through the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
mercidies Benz

In [21]:
#We can also check both keys and values

for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'mercidies Benz')

In [22]:
#Adding items in dictionaries

my_dict['car4']='Audi 2.0'

In [23]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'mercidies Benz', 'car4': 'Audi 2.0'}

In [24]:
my_dict['car1']='Maruti'
my_dict

{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'mercidies Benz', 'car4': 'Audi 2.0'}

In [25]:
#Nested Dictionary
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [26]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [27]:
#Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [28]:
print(car_type['car1']['Mercedes'])

1960

In [29]:
##TUPLES

In [30]:
#Create an empty tuple

my_tuple=tuple()

In [31]:
type(my_tuple)

tuple

In [32]:
my_tuples=()
type(my_tuples)

tuple

In [33]:
my_tuple=("sabita","bhawana","puja","sangita")

In [34]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('sabita', 'bhawana', 'puja', 'sangita')

In [35]:
# inbuilt function
my_tuple.count('sabita')

1

In [36]:
my_tuple.index('sabita')

0